.foot {
    .footp {
        border-top: 2px solid #13311e;
        width: 100%;
        height: 160px;
        display: flex;
        .foot-1 {
            height: 150px;
            width: 80%;
            .titf1 {
                padding-top: 20px;
                color: #13311e;
                font-style: normal;
                font-weight: 500;
                font-size: 139%;
                line-height: 100%;
                font-family: "Poppins", sans-serif;
                text-align: center;
            }
            .logos1 {
                padding-left: 10px;
                height: 100px;
                gap: 10px;
                display: grid;
                grid-template-columns: repeat(9, 1fr);
                justify-items: center;
                align-items: center;
                img {
                    max-width: 80px;
                    max-height: 80px;
                }
            }
        }
        .foot-2 {
            width: 20%;
            height: 100px;
            .titf3 {
                padding-top: 20px;
                color: #13311e;
                font-style: normal;
                font-weight: 500;
                font-size: 139%;
                line-height: 100%;
                font-family: "Poppins", sans-serif;
                text-align: center;
            }
            p {
                color: black;
                font-style: normal;
                font-weight: 500;
                font-size: 110%;
                line-height: 100%;
                font-family: "Roboto", sans-serif;
                margin-top: 10px;
                padding: 10px;
                text-align: center;
            }
        }
    }
    
    .foot-3 {
        height: 100px;
        background-color: #f9fd98;
        .logos4 {
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            a {
                img {
                max-width: 30px;
                max-height: 30px;
                }
            }
        }
        .creado {
            height: 30px;
            text-align: center;
            p {
                color: black;
                font-style: normal;
                font-weight: 700;
                font-size: 100%;
                line-height: 100%;
                font-family: "Roboto", sans-serif;
            }
        }
    }
}