.dprod1 {
    width: 100%;
    margin: 0 auto;
    padding-top: 75px;
    position: relative;
    h1 {
        position: absolute;
        top: 370px;
        left: 130px;
        font-style: normal;
        font-weight: 700;
        font-size: 900%;
        line-height: 100%;
        text-align: center;
        color: #f9fd98;
        font-family: "Roboto", sans-serif;
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }
}