.dprod1 {
    width: 100%;
    margin: 0 auto;
    padding-top: 75px;
    position: relative;
    .titprod {
        width: 100%;
        height: 733px;
        background-image: url(.././assets/productos.jpeg);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            font-style: normal;
            font-weight: 700;
            font-size: 900%;
            line-height: 100%;
            text-align: center;
            color: #f9fd98;
            font-family: "Roboto", sans-serif;
        }
    }
}