.tit-noenc {
    padding-top: 140px;
    font-style: normal;
    font-weight: 400;
    font-size: 120%;
    line-height: 100%;
    color: red;
    font-family: "Roboto", sans-serif;
    text-align: center;
}