@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
};

/*colores
#13311e;
#2f5432;
#5e854a;
#9fc16c;
#f9fd98;*/

.header {
    background-color: #9fc16c;
}
.header-container {
    margin: 0 auto;
    width: 100%;
    height: 75px;
    justify-content: space-between;
    display: flex;
    padding: 0 45px;
    background-color: #13311e;
}

.header-logo {
    width: 200px;  
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo img {
    max-width: 100%;
    max-height: 100%;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.navbar-link {
    text-decoration: none;
    color: #9fc16c;
    font-style: normal;
    font-weight: 500;
    font-size: 139%;
    line-height: 100%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
}

.catalogo-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 0;
}

.catalogo-container h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 139%;
    line-height: 100%;
    text-align: center;
    color: #2f5432;
    font-family: "Roboto", sans-serif;
}

.catalogo-container p {
    font-style: normal;
    font-weight: 500;
    font-size: 100%;
    line-height: 100%;
    text-align: center;
    color: #5e854a;
    font-family: "Roboto", sans-serif;
}

.icon-cart {
    position: absolute;
    top: 8px;
    right: 25px;
    width: 40px;
    height: 60px;
    stroke: white;
}

.icon-cart :hover {
    cursor: pointer;
}

.count-products{
    position: absolute;
    top: 40px;
    right: 20px;
    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}