.conti {
    width: 100%;
    padding-top: 75px;
    .cont-img {
        display: flex;
        justify-content: center;
        img {
            max-width: 70%;
            max-height: 70%;
        }
    }
    
    .cont-titi {
        h1 {
            padding-top: 20px;
            font-style: normal;
            font-weight: 700;
            font-size: 400%;
            line-height: 100%;
            text-align: center;
            color: #13311e;
            font-family: "Roboto", sans-serif;
        }
        p {
            padding-top: 10px;
            font-style: normal;
            font-weight: 700;
            font-size: 200%;
            line-height: 100%;
            text-align: center;
            color: #2f5432;
            font-family: "Roboto", sans-serif;
        }
    }
}