.load{
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    inset: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    img {
        width: 120px;
        height: 120px;
    }
}
